.terms-page {
  background-color: #f4f0ec;
  padding: 50px 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #2c2c2c;
  min-height: 80vh;
}

.terms-container {
  max-width: 900px;           
  margin: 0 auto 40px;        
  padding: 0 20px;
  color: #2c2c2c;            
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 

  h1 {
    font-size: 2.5rem;        
    margin-bottom: 20px;
    color: #1f1f1f;           
  }

  h2 {
    font-size: 1.25rem;       
    margin-top: 40px;         
    color: #444;              
  }

  p {
    font-size: 1rem;         
    line-height: 1.6;
    margin-top: 10px;
  }

  ul {
    margin-top: 10px;
    padding-left: 20px;
    list-style: disc;
  }


  .interactive-link {
    color: #444;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    transition: color 0.3s ease;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 0%;
      height: 2px;
      background-color: #000000;
      transition: width 0.3s ease;
    }

    &:hover {
      color: #000000;
    }

    &:hover::after {
      width: 100%;
    }
  }
}
